<header>
    <h1>{{title}}</h1>

    <a href="/" style="font-size: 25px;">Weather</a>
    <a href="/about" style="font-size: 25px;">About</a>
    <a href="/help" style="font-size: 25px;">Help</a>
</header>