<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>A Minimal Weather Info App</h3>
        <img class="portrait" src="/images/doggy.jpg">
        <p>UwU</p>
    </div>
    
    {{>footer}}
</body>

</html>