<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>A Minimal Weather Info App</h2>
        <a href="https://github.com/menon99/weather-app" style="color: aqua;">Github Repo Link</a>
        <br>
        <br>
        <img class="portrait" src="/images/doggy.jpg">
        <p style="color: chartreuse;">UwU</p>
    </div>
    
    {{>footer}}
</body>

</html>