<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p style="font-size: 30px;">Use this site to get your weather!</p>

        <form action="#">
            <input placeholder="Location" id="address" onsubmit="getWeather()">
        </form>
        <br>
        <button onclick="getWeather()">Search</button>
        <p id="message-1" style="color: #FFA41B;"></p>
        <p id="message-2" style="color: #BE79DF;"></p>
        <p id="message-3" style="color: #FF1E56;"></p>
        <p id="message-4" style="color: #00A8CC;"></p>
    </div>

    {{>footer}}
    <script src="/js/common.js"></script>
</body>

</html>